* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Kokoro;
    src: url(/font/Kokoro-Regular.ttf);
}

.welcome-page {
    background-image: url(/images/background.png);
}
.nav-bar {
    background-color: #B6A497;
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin-bottom: 19px;
}
.menu img {
    width: 90px;
    margin: 35px 511px 58px 34px;
    line-height: 36.6px;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.right-nav button {
    background-color: #F2E8E0;
    border: none;
    outline: none;
    margin: 37px 35px 33px 0;
    padding: 15px;
    line-height: 36.6px;
}

.right-nav a {
    font-family: 'Mate SC', serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: black;
}

input {
    width: 57rem;
    height: 69px;
    margin: 19px 309px 17px 280px;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding: 15px 80px 5px 15px;
    line-height: 51.38px;
    border: none;
}

input [type=text] {
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    font-weight: 400;
} 

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 580px;
    transform: translate(50%, -50%);
}

.main-content {
    background-color: #F1D3BD;
    position: absolute;
    width: 1202px;
    height: 700px;
    display: grid;
    margin: 17px 140px 67px 93px;
    grid-template-columns: 1fr 1fr;
    
}

.main-content h1 {
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-size: 125px;
    line-height: 181px;
    width: 504px;
    margin: 15px 48px 10px 41px;
}

.page-description {
    font-family: 'Kokoro', sans-serif;
    font-weight: 400;
    font-size: 32px;
    width: 525px;
    height: 307px;
    margin: 52px 3px 10px 65px;
    line-height: 48px;
}

.register button {
    width: 265px;
    height: 70px;
    background-color: #FFFFFF;
    border: none;
    margin: 36px 161px 136px 167px;

}
.register a {
    width: 200px;
    height: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.main-right h2 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    width: 258px;
    height: 55px;
    margin: 53px 168px 40px 150px;
}

.main-right img {
    width: 145px;
    height: auto;
    margin-right: 49px;
    margin-left: 3px;
}

.bottom-books {
    margin-top: 42px;
    margin-bottom: 35px;
}

/* About Page CSS */

.about-body {
    background: #F1D3BD;
    max-width: 1431px;
    height: 1024px;
    left: 0px;
    top: 0px;
    padding: 46px 136px 167px 70px;
}

.about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1225px;
    margin: 53px 136px 167px 70px;
}

.about-main_left h1 {
    position: relative;
    width: 431px;
    height: 181px;
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 181px;
}

.about-main_left img {
    position: absolute;
    width: 578px;
    height: 577px;
    margin-right: 5px;
}

.about-right_background {
    background-color: #FFFFFF;
    height: 577px;
    width: 647px;
    display: grid;
    margin-top: 180px;
    margin-bottom: 167px;
}

.about-right_background p {
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    padding: 100px 17px;
}

/* End about page style */

/* Contact Form */

.contact-page_background {
    position: absolute;
    background: #F1D3BD;
    padding: 75px 343px 49px 343px;
}

.contact-background {
    background: url(images/contact-background.png);
    width: 745px;
    margin-top: 6px;
    margin-bottom: 34px;
}

.contact-form  h1{
    margin: 6px 95px 34px 95px;
    width: 554px;
    height: 181px;
    left: 439px;
    top: 81px;
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 181px;
    color: #000000;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.contact-form form {
    text-align: center;
}

.contact-form input {
    width: 503px;
    margin-left: 121px;
    margin-right: 121px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
}

#name, #email {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    background: #FFFFFF;
    color: #BCAEAE;
}

#email {
    margin-top: 74px;
    margin-bottom: 64px;
}

#name, #email {
    height: 70px;
}

#message {
    width: 503px;
    height: 264px;
}

textarea {
    width: 92px;
    height: 39px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    border: none;
    padding: 20px 15px;
    background: #FFFFFF;
    color: #BCAEAE;
}

#submit {width: 256px;
    height: 54px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 2px 60px;
    cursor: pointer;
}

/*End Contact Page style*/