* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Kokoro;
    src: url(/font/Kokoro-Regular.ttf);
}

.welcome-page {
    background-image: url(/images/background.png);
}
.nav-bar {
    background-color: #B6A497;
    display: flex;
    justify-content: space-between;
    height: 140px;
}
.menu img {
    width: 75px;
    margin: 35px 511px 58px 34px;
    line-height: 36.6px;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.right-nav button {
    background-color: #F2E8E0;
    border: none;
    outline: none;
    margin: 37px 15px;
    padding: 15px;
    max-width: 100%;
    align-self: center;
}

.right-nav a {
    font-family: 'Mate SC', serif;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: black;
}

.search-bar input {
    width: 57rem;
    height: 69px;
    margin: 19px 309px 17px 280px;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: 'Khula', sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding: 15px 80px 5px 15px;
    line-height: 51.38px;
    border: none;
}

.search-bar input [type=text] {
    font-family: 'Khula', sans-serif;
    font-size: 20px;
    font-weight: 400;
} 

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    margin-left: 68.75rem;
    transform: translate(50%, -50%);
}

.main-content {
    background-color: #F1D3BD;
    position: absolute;
    max-width: 1202px;
    max-height: 700px;
    display: grid;
    margin: 17px 140px 67px 93px;
    grid-template-columns: 1fr 1fr;
    
}

.main-content h1 {
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-size: 75px;
    line-height: 181px;
    max-width: 504px;
    margin: 15px 48px 10px 41px;
}

.page-description {
    font-family: 'Kokoro', sans-serif;
    font-weight: 400;
    font-size: 26px;
    max-width: 525px;
    max-height: 307px;
    margin: 15px 3px 50px 65px;
    line-height: 48px;
}

.register button {
    width: 265px;
    height: 70px;
    background-color: #FFFFFF;
    border: none;
    margin: px 161px 136px 167px;

}
.register a {
    width: 200px;
    height: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.main-right h2 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    width: 258px;
    height: 55px;
    margin: 53px 168px 40px 150px;
}

.main-right img {
    width: 145px;
    height: auto;
    margin-right: 49px;
    margin-left: 3px;
}

.bottom-books {
    margin-top: 42px;
    margin-bottom: 35px;
}

/* About Page CSS */

.about-body {
    background: #F1D3BD;
    max-width: 1431px;
    height: 1024px;
    padding: 46px 136px 167px 70px;
}

.about-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1225px;
    margin: 53px 136px 167px 70px;
}

.about-body h1 {
    position: relative;
    max-width: 431px;
    max-height: 181px;
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    margin-bottom: 34px;
}

.about-main_left img {
    position: absolute;
    width: 578px;
    height: 577px;
    margin-right: 5px;
}

.about-right_background {
    background-color: #FFFFFF;
    height: 577px;
    width: 647px;
    display: grid;
    margin-top: 180px;
    margin-bottom: 167px;
}

.about-right_background p {
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    padding: 100px 40px;
    margin: auto;
}

/* End about page style */

/* Contact Form */

.contact-page_background {
    position: absolute;
    background: #F1D3BD;
    padding: 75px 343px 49px 343px;
}

.contact-background {
    background: url(images/contact-background.png);
    width: 745px;
    margin-top: 6px;
    margin-bottom: 34px;
}

.contact-form  h1{
    margin: 6px 95px 34px 95px;
    width: 554px;
    height: 181px;
    left: 439px;
    top: 81px;
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 181px;
    color: #000000;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.contact-form form {
    text-align: center;
}

.contact-form input {
    width: 503px;
    margin-left: 121px;
    margin-right: 121px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
}

#name, #email {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    background: #FFFFFF;
    height: 70px;
    padding: 10px;
}

#email {
    margin-top: 74px;
    margin-bottom: 64px;
}

#message {
    width: 503px;
    height: 264px;
}

textarea {
    width: 92px;
    height: 39px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    border: none;
    padding: 20px 15px;
    background: #FFFFFF;
}

#submit {
    width: 256px;
    height: 54px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    padding: 2px 60px;
    cursor: pointer; 
    margin-top: 15px;
    margin-bottom: 15px;
}

/*End Contact Page style*/

/* Profile style */

.profile {
    max-width: 1440px;
    background: #F1D3BD;
    padding: 101px 145px 106px 35px;
}

.profile-header {
    display: flex;
}

.profile h1 {
    font-family: 'Mate SC', serif;
    max-width: 392px;
    max-height: 98px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 98px;
    text-align: center;
    margin-right: 35px;
}

.profile-header img {
    height: 41px;
    margin-top: 35px;
}

.profile p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    width: 339px;
    height: 26px;
    text-align: center;
    margin: 19px 1066px 98px 35px;
}

.profile-container {
    display: flex;
}

.contact-info-container {
    width: 770px;
    height: 910px;
    left: 35px;
    top: 350px;
    background: #F3F3F3;
}

.contact-header p {
    font-family: 'Open Sans', sans-serif;
    width: 770px;
    height: 52px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align:left;
    color: #000000;
    text-transform: uppercase;
    margin: 0px 571px 9px 0;
    padding: 9px 571px 9px 11px;
    background-color: #D9D9D9;
}

label {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    text-align: left;
    float: left;
    margin-right: 15px;
}

.form-input {
    display: flex;
    margin: 3rem 0;
    padding-left: 17px;
}

.form-background select {
    background-color: #D9D9D9;
    border: none;
}

.form-background input {
    position: relative;
    height: 35px;
    border-radius: 0;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: inline-flex;
    background-color: #D9D9D9;
    padding: 1px 0;
    border: none;
    padding: 20px 5px;
    margin-bottom: 35px;
}

.profile-picture-container {
    width: 350px;
    height: 350px;
    background: #F3F3F3;
    margin-left: 140px;
    margin-right: 145px;
    text-align: center;
}

.profile-picture-container p {
    width: 350px;
    height: 70px;
    background: #D9D9D9;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 35px;
    text-align: center;
    padding: 18px 80px;
}

.picture-main img {
    margin-bottom: 28px;
}

.profile-picture-container button {
    background: #ABABAB;
    padding: 13px 34px;
    border: none;
    margin-bottom: 17px;
}

.profile-picture-container a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
    text-transform: uppercase;
}

/* Book Listing Style */

.listing-body {
    background-color: #F1D3BD;
}

.listing-body h1 {
    text-align: center;
    margin: 36px 357px 52px 372px;
    font-family: 'Kaushan Script', cursive;
    width: 706px;
    height: 87px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
}

.book-listing {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.book-listing-left {
    margin-left: 35px;
}

.book-listing-right {
    margin-right: 35px;
    margin-left: 20px;
}

.book-listing-container {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.book-listing-label {
    width: 70px;
    height: 385px;
    background: #1A1818;
}

.book-listing-label img {
    width: 50px;
    height: auto;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.book-listing-main {
    display: flex;
    width: 595px;
    height: 385px;
    background: #D9D9D9;
    padding: 35px 13px 25px 33px;
}

.book-listing-main img {
    width: 200px;
    height: 327px;
    margin-right: 31px;
}

.book-listing-info {
    text-align: center;
}

.book-listing-info h2 {
    font-family: 'Kaushan Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    margin-left: 14px;
    margin-right: 15px;
}

.author {
    margin-top: 6px;
    margin-bottom: 10px;
    font-family: 'Karma', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
}

.description {
    width: 318px;
    font-family: 'Karma', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}

/* End Book Listing Page */

/* Book Description style */

body {
    background: #F1D3BD;
}

.description-container {
    margin: 94px 35px 44px 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description-left {
    margin-right: 50px;
}

.description-book-info {
    display: flex;
    text-align: center;
    align-items: center;
}

.description-book-info img {
    width: 245px;
    height: auto;
    margin-right: 35px;
}

.rating {
    margin-top: 5px;
    margin-left: -95px;
}

.rating img {
    margin-right: 5px;
    width: 41px;
    height: 47px;
}

.book-info {
    text-align: center;
    align-items: center;
}

.book-info h2 {
    font-family: 'Kaushan Script', cursive;
    width: 223px;
    height: 116px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 35px;
}

.book-info h3 {
    font-family: 'Koulen', cursive;
    font-weight: 400;
    font-size: 30px;
    width: 315px;
    height: 57px;
}

.book-info p {
    font-family: 'Karma', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 315px;
    height: 57px;
}

.description-book-info button {
    font-family: 'Koulen', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    width: 280px;
    height: 70px;
    background: #FFFAFA;
    margin: 30px 105px 16px 15px;
    border: none;
}

.description-category {
    margin-top: 16px;
    margin-bottom: 35px;
}

.description-category p {
    font-family: 'Koulen', cursive;
    width: 650px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.description-category a {
    color: #000000;
}

.quotes {
    width: 650px;
    height: 385px;
    background: #E7E2E2;
    padding: 25px 15px;
}

.quotes p {
    font-family: 'Kosugi Maru', sans-serif;
    width: 633px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

/* End of Description Style*/
/* Checkout Page Style*/

.history-container, .book-history-info, .checkout-info, .refine-header, .selection {
    display: flex;
}

.refine-title p {
    font-weight: 800;
    font-size: 35px;
    text-align: left;
}

.refine-divider {
    width: 245px;
    height: 0px;
    border: 2px solid #000000;
    margin-top: 10px;
    margin-bottom: 70px;
}

.refine-section {
    width: 315px;
    height: auto;
    background: #BCAEAE;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    padding-top: 45px;
    padding-left: 35px;
}

.refine-section img {
    max-width: 49px;
    max-height: 51px;
}

.refine-header {
    margin-bottom: 10px;
}

.refine-header p {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.refine-header img {
    margin-right: 5px;
}

.refine-genre {
    margin-top: 82px;
    margin-bottom: 10px;
}

.refine-language {
    margin-top: 102px;
    margin-bottom: 31px;
}

.genre-selection, .language-selection {
    margin-left: 60px;
}

.selection {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}

.selection img {
    margin-right: 5px;
}

.selection p {
    font-weight: 400;
    font-size: 25px;
    text-align: center; 
}

.checkout-history h1 {
    font-family: 'Open Sans', sans-serif;
    width: 448px;
    height: 68px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    margin-left: 42px;


}

.book-1, .book-2, .divider {
    margin: 60px 16px 45px 105px;
}

#book-cover {
    width: 175px;
    height: 279px;
}

.book-title {
    margin-left: 20px;
    font-family: 'Kaushan Script', cursive;
    width: 223px;
    height: 116px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.author {
    margin-top: 10px;
    margin-left: 70px;
    font-family: 'Karma', serif;
    width: 229px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.book-1 {
    margin-bottom: 32px;
}

.divider {
    width: 875px;
    height: 0px;
    border: 3px solid #000000;
}

.hold-bttn {
    margin: 83px 45px 46px 45px;
    align-items:center;
}

.hold-bttn img {
    width: 50px;
    height: 42px;
}

.hold-bttn button {
    margin-left: 45px;
    width: 280px;
    height: 70px;
    background: #FFFCFC;
    border: none;
    font-family: 'Koulen', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.checkout-info {
    margin-top: 45px;
}

.checkout-info p {
    margin-right: 70px;
    font-family: 'Karma', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
}
